# Editor files
*.code-workspace
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Temporary files
*~
*.swp
*.swo

# Test Suite
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
.env
